spring-extensible-xml/src/main/resources/META-INF/demo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns="http://www.web1992.cn/schema/demo"
        targetNamespace="http://www.web1992.cn/schema/demo"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:element name="desc">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="domain" type="xsd:string"/>
                    <xsd:attribute name="blog" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>